/* CSS da pagina Welcome*/
.main_page-title{
    text-align: center;
    font-weight: bold;
}
/* CSS dos formulários de edição ou criação*/
label{
    font-weight: bold;
}
.form-control{
    padding-bottom: 10;
}
.footer-page{
    position: absolute;
    margin-bottom: 0;
}
/* CSS do dashboard */
.table{
    margin-top: 50px;
    justify-content: space-between;
}
th{
    justify-content: space-between;
}
.search-form{
    margin-right: 0;
}